input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(248, 250, 252) inset !important;
  box-shadow: 0 0 0 30px rgb(248, 250, 252) inset !important;
  -webkit-text-fill-color: rgb(100, 116, 139) !important;
  text-fill-color: rgb(100, 116, 139) !important;
}
